/* imc.page.scss */

/* Estilos para a página IMC */
ion-content {
  --background: #181822;
}

ion-title {
  color: #ccc;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  
}

ion-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px!important;
  margin-top: 10px;
}

ion-button {
  --background: #3880ff;
  --color: #fff;
  margin: 20px;
}

ion-card {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

ion-card-content {
  font-weight: bold;
  font-size: 18px;
}

/* Estilos para a classificação do IMC */
.ObesityStyle {
  background: #ff6347;
}

.OverweightStyle {
  background: #ffaa00;
}

.NormalWeightStyle {
  background: #00b22a;
}

.UnderWeightStyle {
  background: #add8e6;
}

.VeryUnderWeightStyle {
  background: #a9a9a9;
}
.text-input:focus {
  border: none;
}
ion-card-content {
  color: #000000;
}