<ion-header>
  <ion-toolbar>
    <ion-title>
      IMC Calculate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Digite aqui seu peso:</ion-label>
      <ion-input type="number" name="personWeight" [(ngModel)]="personWeight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Digite aqui sua altura em centimetros:</ion-label>
      <ion-input type="number" onkeypress="if(this.value.length==3) return false;" name="personHeight" [(ngModel)]="personHeight" (input)="validarAlturaInput($event)"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button class="custom-button" expand="block" (click)="calcularIMC()">Calcular</ion-button>

  <ion-card [ngClass]="classificationClass" *ngIf="result">
    <ion-card-content>
      Seu Indice de Massa Corporal é {{ IMC!.toFixed(2) }}. {{ classification }}
    </ion-card-content>
  </ion-card>
</ion-content>