<ion-header>
  <ion-toolbar>
    <ion-title>
      
    
    
    <img
        src="../../assets/icon/bmi-icon.png"
        alt="B.M.I calculate icon"
        width="30"
        height="30"
      />
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Digite aqui seu peso:</ion-label>
      <ion-input type="number" name="personWeight" [(ngModel)]="personWeight" [value]=""></ion-input>
      <ion-label class="nullWeightErrorMessage" position="stacked"></ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Digite aqui sua altura em centimetros:</ion-label>
      <ion-input type="number" onkeypress="if(this.value.length==3) return false;" name="personHeight" [(ngModel)]="personHeight" (input)="heightInputValidate($event)"></ion-input>
      <ion-label class="nullHeightErrorMessage" position="stacked"></ion-label>
    </ion-item>
  </ion-list>

  <ion-button class="bmiCalculateButton" expand="block" (click)="bmiCalculate()">Calcular</ion-button>

  <ion-card [ngClass]="classificationCSS" *ngIf="completeResult">
    <ion-card-content>
      Seu Indice de Massa Corporal é {{ BMI!.toFixed(2) }}. {{ classification }}
    </ion-card-content>
  </ion-card>
</ion-content>